<%- include('./partials/header') %> 
<style>
    
   
</style>
<title>Main</title>
</head>
<body>
    <%- include('./partials/navbarlogin') %>
<div>
    <h3 class="display-2 text-center" style="color: rgb(105, 104, 104);">BLOG APP</h3>
    <img src="./images/dashboard.jpg" id="dash" class="img-fluid" alt="dashboard">
</div>
<div class="mt-4">
    <div class="rows">
        <div class="col-md-9">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <% for( let index = 0; index < data.length; index++ ) { %>
                            <div class="col-md-6 my-auto">
                                <div class="inner-container">
                                    <div class="container content mb-5">
                                        <h3 class="category-title text-center"><%=data[index].title%></h3>
                                        <img src="<%=data[index].bgImg%> " class="img-fluid mt-2" id="image-header" alt="">
                                        <p class="text-center mt-3 category-text"><%= data[index].author %> </p>
                                        <p class="blog-description"><%= data[index].text %></p>
                                        
                                    </div>
                                </div>
                            </div>
                        <% } %>
                            <div>
                                <nav aria-label="Page navigation example text-center"  class="center-nav mt-5" style="margin-left:auto">
                                    <ul class="pagination">
                                        <% if (!dataObject.previous) { %>
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                            </li>
                                        <% } else {%>
                                            <li class="page-item ">
                                                <a class="page-link" href="/user-dashboard?page=<%=dataObject.previous.page%>>">Previous</a>
                                            </li>
                                        <% } %>
                                        <% for( let index = 0; index < numpage; index++ ) { %>
                                           
                                            <% if (currentPage===index+1) { %>
                                                <li class="page-item active" aria-current="page"><a href="/user-dashboard?page=<%=index+1%>" class="page-link"><%=index+1%></a></li>
                                            <% } else {%>
                                                <li class="page-item"><a href="/user-dashboard?page=<%=index+1%>" class="page-link"><%=index+1%></a></li>
                                             <% } %>
                                        <% } %>
                                        
                                        <% if (!dataObject.next) { %>
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                            </li>
                                        <% } else {%>
                                            <li class="page-item ">
                                                <a class="page-link" href="/user-dashboard?page=<%=dataObject.next.page%>">Next</a>
                                            </li>
                                        <% } %>
                                      </ul>
                                </nav>
                            </div>
                            
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 side-content">
            <div class="container">
                <hr class="mt-2">
                <div class="text-center about">ABOUT ME</div>
                <hr>
                <img src="./images/Me.jpg" alt="Me" id="about-image" class="img-fluid my-auto">
                <p class="form-text text-center mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem deleniti voluptatibus ipsum, libero possimus et fugit id repellat doloribus ipsa minima saepe quaerat cum quisquam dignissimos est blanditiis, molestias tempore?</p>
                <hr class="mt-5">
                <div class="text-center about">Categories</div>
                <hr>
                <div class="row text-dark">
                    <div class="col-md-6 category-text">
                        <div class="text-center">Music</div>
                    </div>
                    <div class="col-md-6 category-text">
                        <div class="text-center">Arts</div>
                    </div>
                    <div class="col-md-6 mt-3 category-text">
                        <div class="text-center">Lifestyle</div>
                    </div>
                    <div class="col-md-6 mt-3 category-text">
                        <div class="text-center">Nature</div>
                    </div>
                    <div class="col-md-6 mt-3 category-text">
                        <div class="text-center">Programming</div>
                    </div>
                    <div class="col-md-6 mt-3 category-text">
                        <div class="text-center">Gaming</div>
                    </div>
                </div>
                <hr class="mt-5">
                <div class="text-center about">Follow me</div>
                <hr>
                <div class="row mt-5 links">
                    <div class="col-md-3">
                        <a target="_blank" href="https://www.facebook.com/Jpatrickzxc/"><i class="bi bi-facebook" style='font-size:30px; color: black;'></i></a>
                        
                    </div>
                    <div class="col-md-3">
                        <a href="https://twitter.com/zephyrusx_" target="_blank"> <i class="bi bi-twitter" style='font-size:30px; color: black;'></i></a>
                       
                    </div>
                    <div class="col-md-3">
                        <a href="https://github.com/beefysalad" target="_blank"> <i class="bi bi-github" style='font-size:30px; color: black;'></i></a>
                       
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.linkedin.com/in/john-patrick-b8bb12215/" target="_blank"> <i class="bi bi-linkedin" style='font-size:30px; color: black;'></i></a>
                       
                    </div>
                    
                </div>
                
            </div>
            
            
        </div>
        
    </div>
    <a href="/new-blog" class="add-content">
        <i class="bi bi-plus icon" style="color: white;"></i>
    </a>
    <!-- <div class="add-content">
        <i class="bi bi-plus icon" style="color: white;"></i>
    </div> -->
    <!-- <a href="#" style="color: black;"><i class="bi bi-plus-circle add-content" style="font-size: 50px;"></i></a> -->
    
</div>
<footer class=" mt-5">
    <div class="text-center p-3">
        Copyright &copy; 2021. <b><a target="_blank" href="https://github.com/beefysalad">BeefySalad.</a></b> All Rights Reserved
         
        </div>
</footer>
</body>
</html>
